[build]
  command = "vite build"
  publish = "dist/client"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "IMAGEKIT_URL_ENDPOINT"

# [functions]
#   directory = "dist/server"
#   # Use included_files if your function needs to read specific files at runtime (like templates)
#   included_files = ["dist/server/assets/**"] 

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

# [[redirects]]
#   from = "/*"
#   to = "/.netlify/functions/server/:splat"
#   status = 200

[dev]
  command = "vite dev"
  port = 4000
  targetPort = 3000