[build]
  command = "vite build"
  dir = "dist/client"
[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "IMAGEKIT_URL_ENDPOINT"

[functions]
  directory = "dist/server"
  included_files = ["dist/server/assets/**"]

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[dev]
  command = "vite dev"
  port = 3000
